node_modules/
packages/**/typings/**
packages/**/main/**
packages/**/module/**
packages/**/bin/**
packages/**/lib/**
packages/**/dist/**
packages/**/__snapshots__/**
terraform/
coverage/
.cache/
dist/
lib/
module/
main/
typings/
*.pem
*.log
LICENSE
.huskyrc.*
yarn.*
.DS_Store
lerna.json
